<div class="banner">
  <div>
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="cocktail-container">
  <div class="cocktail-small-containers">
    <h3>Description</h3>
    <p>Cool and refreshing. Vodka, soda, lime. That’s it. Perfect for a bar stop and also for cocktail hour at home.</p>
  </div>

  <div class="cocktail-small-containers">

    <ul>
      <h3>Ingredients:</h3>
      <% @doses.each do |dose| %>
        <li>
         <%= dose.ingredient.name %> - ( <%= dose.description %>)
        </li>
      <% end %>
      <li class="btn-flat"><%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail) %></li>
    </ul>

  </div>

</div>


