.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('cocktail.jpg');
  background-size: cover;
  height: 400px;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 40px;
  font-family: Playfair Display;
  margin: 0px;
  font-weight: bold;
  color: #F4F7F6;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
