.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #EF5B5B;
  padding: 16px 24px;
  margin-bottom: 25px;
    h1{
      font-size: 48px;
      font-family: Playfair Display;
      margin: 0px;
      font-weight: 700;
      color: #F4F7F6;
    }
    a {
      font-size: 24px;
      font-family: Playfair Display;
      margin: 0px;
      font-weight: 200;
      color: #F4F7F6;
    }
}

.navbar-lewagon .brand {
  width: 40px;
  display: flex;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
  margin-left: 24px;
  color: #999999;
}
.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
  color: #151515;
}


.navbar-lewagon .navbar-lewagon-actions .avatar {
  margin-left: 24px;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}
